---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="My Astro Blog"
  description="My musings about the Astro Framework"
>
  <p>hi from about</p>
  <p slot="hi">hi from slot</p>
</MainLayout>
