---
//component import
import MainLayout from "../layouts/MainLayout.astro";

//style import
import "../styles/global.css";
---

<MainLayout title="My Blog">
  <p>hi from <span>Home</span></p>
</MainLayout>
